html, body {
    background-image: url('https://cdn.pixabay.com/photo/2017/06/21/09/24/retro-2426631_1280.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}

h1, h2 {
    text-align: center
}